<header><h1>Tankstellen Köln</h1></header>

<nav>
  <div class="nav-head">
    <div>
      <Button>Straßen</Button>
      <Button>Stadtteile</Button>
    </div>
    <div>
      <input type="text" />
    </div>
  </div>

  <div class="filter-btn-con">
    <button (click)="data.sortStations(data.stations, 'street', true)">
      Aufsteigend
    </button>
    <button (click)="data.sortStations(data.stations, 'street', false)">
      Absteigend
    </button>
  </div>
</nav>

<main>
  @if(data.stations) { @for(station of data.stations; track station.id) {
  <app-card [station]="station"></app-card>
  } } @else {
  <p>Something went wrong. Try again later!</p>
  }
</main>

<!-- <router-outlet></router-outlet> -->
