<!-- Header -->
<header><h1>Tankstellen Köln</h1></header>

<!-- Navbar -->
<nav>
  <div class="nav-head">
    <div>
      <Button (click)="showStreet = true; backToAllStations('street')"
        >Straßen</Button
      >
      <Button (click)="showStreet = false; backToAllStations('district')"
        >Stadtteile</Button
      >
    </div>
    <div>
      <input type="text" />
    </div>
  </div>

  <div class="filter-btn-con">
    @for(letter of letters; track letter) {
    <button
      class="letter-btn"
      (click)="
        data.filterStationsByLetter(letter, showStreet ? 'street' : 'district')
      "
    >
      {{ letter }}
    </button>
    }
    <button
      (click)="
        data.sortStations(
          data.stations,
          showStreet ? 'street' : 'district',
          true
        )
      "
    >
      Aufsteigend
    </button>
    <button
      (click)="
        data.sortStations(
          data.stations,
          showStreet ? 'street' : 'district',
          false
        )
      "
    >
      Absteigend
    </button>
  </div>
</nav>

<!-- Content Cards -->
<main>
  @if(data.stations) { @for(station of data.stations; track station.id) {
  <app-card [station]="station"></app-card>
  } } @else {
  <p>Something went wrong. Try again later!</p>
  }
</main>

<!-- <router-outlet></router-outlet> -->
