<!-- Header -->
<header><h1>Tankstellen Köln</h1></header>

<!-- Navbar -->
<nav>
  <div class="nav-head">
    <Button
      class="show-all-btn"
      (click)="showStreet = true; backToAllStations()"
      >Alle Tankstellen</Button
    >
    <div>
      <input
        class="input-search"
        type="text"
        placeholder="Suche nach Straße oder Stadtteil"
        [(ngModel)]="searchText"
        (keyup)="onSearch()"
      />
      <input class="input-btn" type="button" value="" (click)="onSearch()" />
    </div>
  </div>

  <div class="filter-btn-con">
    <div class="filter-btn-left">
      @for(letter of letters; track letter) {
      <button
        class="letter-btn"
        [ngClass]="{ highlight: selectedLetter === letter }"
        (click)="
          selectLetter(letter);
          data.filterStationsByLetter(
            letter,
            showStreet ? 'street' : 'district',
            ascending,
            searchText
          )
        "
      >
        {{ letter }}
      </button>
      }
    </div>
    <div class="filter-btn-right">
      <button
        class="attribute-btn"
        [ngClass]="{ highlight: showStreet }"
        (click)="
          showStreet = true;
          data.sortStations(this.data.stations, 'street', ascending)
        "
      >
        Straßen
      </button>
      <button
        class="attribute-btn"
        [ngClass]="{ highlight: !showStreet }"
        (click)="
          showStreet = false;
          data.sortStations(this.data.stations, 'district', ascending)
        "
      >
        Stadtteile
      </button>
      <button
        class="asc-true"
        [ngClass]="{ highlight: ascending }"
        (click)="
          ascending = true;
          data.sortStations(
            data.stations,
            showStreet ? 'street' : 'district',
            ascending
          )
        "
      ></button>
      <button
        class="asc-false"
        [ngClass]="{ highlight: !ascending }"
        (click)="
          ascending = false;
          data.sortStations(
            data.stations,
            showStreet ? 'street' : 'district',
            ascending
          )
        "
      ></button>
    </div>
  </div>
</nav>

<!-- Content Cards -->
<main>
  @if(data.stations) { @for(station of data.stations; track station.id) {
  <app-card [station]="station" [showStreet]="showStreet"></app-card>
  } } @else {
  <p>Keine Tankstellen gefunden.</p>
  }
</main>
